<div >
 
  <h2 style="text-align:center">Nouvelle plateforme d'information du service maintenance et informatique de l'hôpital </h2>
  <p>
    La nouvelle directrice de l’hôpital Albert Royer de FANN, se donne pour mission de placer l’hôpital parmi les 
    meilleurs au Sénégal, en Afrique et dans le monde. Pour arriver à cet objectif, elle invite tout le personnel à 
    s’impliquer et à s’approprier cette mission. Elle ne pourra y arriver qu'avec l'aide d'un personnel engagé.
  </p>
  <p>Vous étes sur la nouvelle plateforme d'information de l'hôpital et nous demandons à tout le personnel de
    s'incrire sur cette plateforme afin de permettre à la ressource humaine de vous identifier et de vous prendre en
    compte
    </p>
  Pour vous inscrire veuiller cliquer sur <a routerLink = "/subscription">S'inscrire</a><br />
  <br />Pour vous connecter veuller cliquer sur <a routerLink = "/connexion">Se connecter</a><br />
  </div>