<app-header></app-header>
<mat-toolbar> 
    <span>BIENVENU SUR LA NOUVELLE PLATEFORME DE LA NOUVELLE CELLULE INFORMATIQUE DU CHNEAR</span>      
    <span class="example-fill-remaining-space"></span>
    <span>Inscription</span>  &nbsp; &nbsp;
    <span>Connexion</span>      
</mat-toolbar>  
<img src="assets/img/albert.JPG" style="width:100%" >
<div style="display:flex"> 
    <mat-card style ="width:20%">
         zone de gauche
    </mat-card>
    <mat-card style ="width:80%"> 
    <router-outlet></router-outlet>
    </mat-card>
</div>
<app-footer></app-footer>
